<!DOCTYPE html>
	<head>
		<title>Random Drink Selector</title>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h2 id="drinkName">What will it be...</h2>
			</div>
			<div class="drink-card">
				<div class="thumbnail">
					<img id="drink-img" src="https://www.thecocktaildb.com/images/media/drink/yzva7x1504820300.jpg" alt="">
				</div>

				
			</div>	
			<h2>Instructions:</h2>
			<div>				
				
					<div id="title">
						<p class="instructions">Happiness Instructions Goes Here...</p>
					</div>
				
			</div>
			<div>
				<button id="axios" onclick="topFunction()">Get A Drink!</button>
			</div>
		</div>

		<script src="/script.js"></script>
	</body>
</html>